[run]
branch = True
source =
    main.models
    main.api.auth
    main.api.clasificacion
    main.scrapping.matching
omit =
    */migrations/*
    */tests/*
    */__pycache__/*

[report]
show_missing = True
skip_covered = True
precision = 2
fail_under = 65
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
